* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *html {
    font-size: 62.5%; }
  *a {
    text-decoration: none; }
    *aa:active {
      outline: none; }
  *body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 1rem;
    position: relative; }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #d3d56fcf, #28b4859f), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }

.header--text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  /*backface-visibility: hidden;*/
  margin-bottom: 2rem; }

.heading--main {
  display: block;
  font-size: 3.8rem;
  letter-spacing: 1.7rem;
  animation-name: moveToLeft;
  animation-duration: 1s;
  /* animation-delay: 1s;
    animation-iteration-count: 3; */
  animation-timing-function: ease-in-out; }

.heading--sub {
  display: block;
  font-size: 1.7rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
  animation: moveToRight 1s ease; }

.btn:link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  border-radius: 100px;
  transition: all .4s; }

.btn-animated {
  animation: moveToTop .5s ease-in-out .75s;
  animation-fill-mode: backwards; }
