
@for $first from 1 through $numcolumn {
    @for $second from 1 through $first {
        .col-#{$second}-#{$first} {
            width: calc((((#{$fila} - ((#{$first} - 1) * #{$separacionHorizontal})) / #{$first}) * ((#{$second}))) + ((#{$second} - 1) * #{$separacionHorizontal}));
        }
    }
}

.grid-test {
    width: $fila;
    color: #eee;
    margin: 0 auto; //border: 1px solid red;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    max-width: $fila;
    margin-bottom: $margin;
    margin: 0 auto;
    @include clearboth;
   
    
}

 div[class^="col-"] {
     background: blueviolet;
     float: left;
     margin-right: 6rem;
     min-height: $altoCol;
     text-align: center;
     font-size: 2rem;
     //border: solid 4px pink;
 }

.row>div:last-child {
    margin: 0;
}

.row:last-child {
    margin: 0 auto;
    // margin: 0;
    // margin-bottom: 0;
    // margin-right: auto;
    // margin-
}

.floatstop {
    clear: both;
}

