.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, $yellow, $green), url(../img/andrea-reiman-287012.jpg);
    background-size: cover;
    background-position: top;
    //se comenta que si no , no se ve la imagen del logo
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(50vw 0, 10vw 100vh, 90vw 100vh, 90vw 100vh);
    position: relative;
}
    .header--text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;  
}