@mixin btnLinkVisited($grey, $white){
    text-decoration: none;
    text-transform: uppercase;
    background-color: $white;
    color: $grey;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 3rem;
    transition: all .2s;
    position: relative;
}

@mixin heading-content($size_rem, $letter_spacing) {
    display: block;
    font-size: $size_rem;
    letter-spacing: $letter_spacing;
}

@mixin clearboth {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}