$grey: #777;
$white: #fff;
$yellow: unquote("#d3d56fcf");
$green: unquote("#28b4859f");
$fontBold: 400;
$fontSuperBold: 700;
$fontFamily: "lato",sans-serif;
$fila: 114rem;
$altoCol: 9rem;
$separacionHorizontal: 6rem;
$margin: 8rem;
$numcolumn: 4;
$fontSize: 1.6rem;

//font-size: 10px en html 1 rem
