
.btn {
    &:link {
        @include btnLinkVisited($grey, $white);
    }
    &:visited {
        @include btnLinkVisited($grey, $white);
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(1px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: -1;
        border-radius: 100px;
        transition: all .4s;
    }
    
}

.btn-animated {
    animation: moveToTop .5s ease-in-out .75s;
    animation-fill-mode: backwards;
}

.btn-text {
    font-size: $fontSize;
    @include btnLinkVisited($grey, $white);
}
