.card{
    height: 50rem;
    transition: 2s;

}

.card-perspective-row{
    perspective: 1000;
}
.card img{
    width: auto;
    height: 20rem;
}

.card:hover{
    transform: rotateY(180deg);
    
}

.card__side{

}

.card__side-front{
    position: relative;
    width: 100%;
    top: 60%;
    font-family: 'Times New Roman',
    Times,
    serif;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: 0.8s 0.8s opacity ease-in-out;
    .card_details {
        padding: 10%;
    }
}
.card:hover .card__side-front {
    opacity: 0; //transition: opacity linear;
}

.card__side-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    font-size: 40px;
    color: #fff; 
    text-align: center;
    opacity: 0;
    transition: 0.8s 0.8s opacity ease-in-out;
    span {
        display: block;
        padding: 20%;
    }
    a {
        display: block;
        padding: 20%;
    }
}

.card:hover .card__side-back {
    opacity: 1;
    transform: rotateY(180deg);
}
.card-back {
    background: linear-gradient(to top right, rgb(247, 247, 247), rgb(2, 2, 2));
}

.card_details {
    font-size: 2rem;
    margin: auto;
}

.card_details span {
    border-bottom: 1px solid gray;
    display: block;
}

.card_details span:last-child {
    border: 0px;
}

.card_picture {
    height: 25rem;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-blend-mode: lighten;
    opacity:0.5;
}

.card_heading {
    background: linear-gradient(to bottom left, rgb(184, 125, 0), rgb(237, 240, 231));
    position: absolute;
    top: 40px;
    right: 40px;
    text-align: center;
}