.composition {
    position: relative;
    height: 600px;
}

.composition:hover {
    transform: scale(0.8);
    transition: 1s;
}

.img-1:hover,.img-2:hover,.img-3:hover {
    transform: scale(1.6);
    transition: 1s;
    z-index: 2;
}
