.heading-primary {
    color: $white;
    text-transform: uppercase;
    font-weight: $fontSuperBold;

    /*backface-visibility: hidden;*/
    margin-bottom: 2rem;
}
.heading--main {
    @include heading-content(3.8rem, 1.7rem);
    animation-name: moveToLeft;
    animation-duration: 1s;
    /* animation-delay: 1s;
    animation-iteration-count: 3; */
    animation-timing-function: ease-in-out;
}

.heading--sub {
    @include heading-content(1.7rem, 0.8rem);
    font-weight: $fontSuperBold;
    animation: moveToRight 1s ease;
}

.heading-secundary {
    background: linear-gradient(to left, green, blue);
    -webkit-background-clip: text;
    color: transparent;
}
.heading-secundary:hover {
    transform: skew(0deg, -5.5deg);
    text-shadow: 0px 0px 3px gray;
}

.heading-tertiary {
    background: linear-gradient(to left, black, yellowgreen);
    -webkit-background-clip: text;
    color: transparent;
}
