

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    html {
        font-size: 62.5%;
    }
    
    a {
        text-decoration: none;
        &a:active {
            outline: none;
        
    }
}
    body {
        font-family: $fontFamily;
        font-weight: 400;
        font-size: $fontSize;
        line-height: 1.7;
        color: $grey;
        padding: 1rem;
        position: relative;
    }
img {
    margin-top: 2rem;
    max-width: 100%;
}