.text-center{
    text-align: center;
}

.margin-bottom-big{
    margin-bottom: 8rem;
}

.margin-bottom-small{
    margin-bottom: 2rem;
}

.margin-bottom-medium{
    margin-bottom: 5rem;
}

.margin-bottom-big:last-child{
    margin-bottom: 0rem;
}
