.section-about {
    background-color: rgb(194, 126, 48);
    margin-top: -20vh;
    padding: 20vh 0vh;
    text-align: center;
    font-size: 3rem;
}

.feature-feactures {
    height: auto;
    background-image: linear-gradient(to right bottom, $yellow, $green), url(../img/ico1.png);
    background-position: top; //se comenta que si no , no se ve la imagen del logo
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); //rombo
    -webkit-transform: skew(-5deg, -5deg);
    -moz-transform: skew(-5deg, -5deg);
    -ms-transform: skew(-5deg, -5deg);
    transform: skew(-5deg, -5deg);
    margin-top:-5%;

}

.feature-box {
    height: 300px;
    transform: translateY(50px) scale(0.9);
    transition: 0.5s;
    -webkit-transform: skew(5deg, 5deg);
    -moz-transform: skew(5deg, 5deg);
    -ms-transform: skew(5deg, 5deg);
    transform: skew(5deg, 5deg);

}
.feature-box:hover {
    transform: translateY(50px) scale(1.2);
    transition: 0.5s;
}

.feature-box__icon {
    align-content: center;
    padding-top: 5px;
}

.section-tours {
    height: auto;
    background-color: rgb(194, 126, 48);
    margin-top: -50vh;
    padding-top: 60vh;
    padding-bottom: 80vh;
    text-align: center;
    font-size: 3rem;
}