* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }
  aa:active {
    outline: none; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  position: relative; }

img {
  margin-top: 2rem;
  max-width: 100%; }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.text-center {
  text-align: center; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 5rem; }

.margin-bottom-big:last-child {
  margin-bottom: 0rem; }

.col-1-1 {
  width: calc((((114rem - ((1 - 1) * 6rem)) / 1) * ((1))) + ((1 - 1) * 6rem)); }

.col-1-2 {
  width: calc((((114rem - ((2 - 1) * 6rem)) / 2) * ((1))) + ((1 - 1) * 6rem)); }

.col-2-2 {
  width: calc((((114rem - ((2 - 1) * 6rem)) / 2) * ((2))) + ((2 - 1) * 6rem)); }

.col-1-3 {
  width: calc((((114rem - ((3 - 1) * 6rem)) / 3) * ((1))) + ((1 - 1) * 6rem)); }

.col-2-3 {
  width: calc((((114rem - ((3 - 1) * 6rem)) / 3) * ((2))) + ((2 - 1) * 6rem)); }

.col-3-3 {
  width: calc((((114rem - ((3 - 1) * 6rem)) / 3) * ((3))) + ((3 - 1) * 6rem)); }

.col-1-4 {
  width: calc((((114rem - ((4 - 1) * 6rem)) / 4) * ((1))) + ((1 - 1) * 6rem)); }

.col-2-4 {
  width: calc((((114rem - ((4 - 1) * 6rem)) / 4) * ((2))) + ((2 - 1) * 6rem)); }

.col-3-4 {
  width: calc((((114rem - ((4 - 1) * 6rem)) / 4) * ((3))) + ((3 - 1) * 6rem)); }

.col-4-4 {
  width: calc((((114rem - ((4 - 1) * 6rem)) / 4) * ((4))) + ((4 - 1) * 6rem)); }

.grid-test {
  width: 114rem;
  color: #eee;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0 auto; }

.row {
  max-width: 114rem;
  margin-bottom: 8rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

div[class^="col-"] {
  background: blueviolet;
  float: left;
  margin-right: 6rem;
  min-height: 9rem;
  text-align: center;
  font-size: 2rem; }

.row > div:last-child {
  margin: 0; }

.row:last-child {
  margin: 0 auto; }

.floatstop {
  clear: both; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #d3d56fcf, #28b4859f), url(../img/andrea-reiman-287012.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }

.header--text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.logo {
  position: absolute; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  /*backface-visibility: hidden;*/
  margin-bottom: 2rem; }

.heading--main {
  display: block;
  font-size: 3.8rem;
  letter-spacing: 1.7rem;
  animation-name: moveToLeft;
  animation-duration: 1s;
  /* animation-delay: 1s;
    animation-iteration-count: 3; */
  animation-timing-function: ease-in-out; }

.heading--sub {
  display: block;
  font-size: 1.7rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
  animation: moveToRight 1s ease; }

.heading-secundary {
  background: linear-gradient(to left, green, blue);
  -webkit-background-clip: text;
  color: transparent; }

.heading-secundary:hover {
  transform: skew(0deg, -5.5deg);
  text-shadow: 0px 0px 3px gray; }

.heading-tertiary {
  background: linear-gradient(to left, black, yellowgreen);
  -webkit-background-clip: text;
  color: transparent; }

.btn:link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  border-radius: 100px;
  transition: all .4s; }

.btn-animated {
  animation: moveToTop .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 3rem;
  transition: all .2s;
  position: relative; }

.composition {
  position: relative;
  height: 600px; }

.composition:hover {
  transform: scale(0.8);
  transition: 1s; }

.img-1:hover, .img-2:hover, .img-3:hover {
  transform: scale(1.6);
  transition: 1s;
  z-index: 2; }

.card {
  height: 50rem;
  transition: 2s; }

.card-perspective-row {
  perspective: 1000; }

.card img {
  width: auto;
  height: 20rem; }

.card:hover {
  transform: rotateY(180deg); }

.card__side-front {
  position: relative;
  width: 100%;
  top: 60%;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: 0.8s 0.8s opacity ease-in-out; }
  .card__side-front .card_details {
    padding: 10%; }

.card:hover .card__side-front {
  opacity: 0; }

.card__side-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 0.8s 0.8s opacity ease-in-out; }
  .card__side-back span {
    display: block;
    padding: 20%; }
  .card__side-back a {
    display: block;
    padding: 20%; }

.card:hover .card__side-back {
  opacity: 1;
  transform: rotateY(180deg); }

.card-back {
  background: linear-gradient(to top right, #f7f7f7, #020202); }

.card_details {
  font-size: 2rem;
  margin: auto; }

.card_details span {
  border-bottom: 1px solid gray;
  display: block; }

.card_details span:last-child {
  border: 0px; }

.card_picture {
  height: 25rem;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-blend-mode: lighten;
  opacity: 0.5; }

.card_heading {
  background: linear-gradient(to bottom left, #b87d00, #edf0e7);
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: center; }

.logo {
  position: absolute; }

.section-about {
  background-color: #c27e30;
  margin-top: -20vh;
  padding: 20vh 0vh;
  text-align: center;
  font-size: 3rem; }

.feature-feactures {
  height: auto;
  background-image: linear-gradient(to right bottom, #d3d56fcf, #28b4859f), url(../img/ico1.png);
  background-position: top;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  -webkit-transform: skew(-5deg, -5deg);
  -moz-transform: skew(-5deg, -5deg);
  -ms-transform: skew(-5deg, -5deg);
  transform: skew(-5deg, -5deg);
  margin-top: -5%; }

.feature-box {
  height: 300px;
  transform: translateY(50px) scale(0.9);
  transition: 0.5s;
  -webkit-transform: skew(5deg, 5deg);
  -moz-transform: skew(5deg, 5deg);
  -ms-transform: skew(5deg, 5deg);
  transform: skew(5deg, 5deg); }

.feature-box:hover {
  transform: translateY(50px) scale(1.2);
  transition: 0.5s; }

.feature-box__icon {
  align-content: center;
  padding-top: 5px; }

.section-tours {
  height: auto;
  background-color: #c27e30;
  margin-top: -50vh;
  padding-top: 60vh;
  padding-bottom: 80vh;
  text-align: center;
  font-size: 3rem; }
